*.log
.DS_Store
Thumbs.db

.env
.env.*
!.env.example
.env.backup
.env.production

.phpactor.json
.phpunit.result.cache
/.phpunit.cache

/.codex
/.cursor/
/.idea
/.nova
/.vscode
/.zed
/.vagrant

/auth.json

/node_modules
/vendor

/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage

/storage/*.key
/storage/pail

npm-debug.log
yarn-error.log
Homestead.json
Homestead.yaml
bootstrap/compiled.php
app/storage/
public_html/storage
public_html/hot
